@charset "utf-8";
@charset "utf-8";
/* header menu*/
#nav .depth1 > li{ color: #3498db}



/* login */
#joinPage .joinTop{
    background-image: url(../img/showcase-1.jpeg);
    background-position:center bottom ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
}
#joinPage .joinTop .inner { position: relative;}
#joinPage .joinTop .inner h4 {display: inline-block;
    font-size: 16px; color: #fff;
    font-weight: 700;
    letter-spacing: 8px;
    margin: 0;
}
.joinBox form { position: relative}
.joinWrap { padding: 100px 300px;}
.joinWrap legend { display:inline-block; font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    }
.joinBox ::placeholder {font-size: 12px;
    color: #7a7a7a;}
.joinWrap p label{ font-size: 14px; color: #666;
        display:inline-block; line-height: 28px; margin-bottom: 5px;
    }
.joinWrap  p input{ border: 1px solid #ddd;
        background-color: #fff; padding: 6px 12px;
        text-indent: 0.5em; width: 100%; height:34px ;
        margin-bottom: 20px; font-size: 12px;
}
.joinWrap button{
    font-size:13px; color: #fff; background-color: #333;
    padding: 6px 12px; border-radius: 2px;
    font-weight: 600;
    border: 1px solid #fff;
    text-align: center;
    position: absolute; top:100 ;right:0
}
.joinWrap button:hover{ background-color: #3498db;}